<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_hardware" default="true"/>
  <xacro:arg name="enable_joint0" default="true" />
  <xacro:arg name="enable_joint1" default="true" />

  <xacro:include filename="$(find jeeves_sim_description)/urdf/jeeves_sim.xacro" />

  <xacro:include filename="$(find odrive_jeeves_description)/urdf/odrive.ros2_control.xacro" />

  <xacro:odrive_ros2_control
    name="ODriveDiffBot"
    serial_number="2054368F424D"
    can_interface="can0"
    axis0_canid="1"
    axis1_canid="2"
    joint1_name="$(arg prefix)Right_wheel_joint"
    joint0_name="$(arg prefix)Left_wheel_joint" />

  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <xacro:arg name="use_mesh" default="false"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:sensor_d435 parent="Camera_Top_1" name="rs_top" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" use_mesh="$(arg use_mesh)">
    <origin xyz="0 0 0" rpy="0 0 0"/> 
  </xacro:sensor_d435>

  <xacro:sensor_d435 parent="Camera_Bottom_1" name="rs_bottom" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" use_mesh="$(arg use_mesh)">
    <origin xyz="0 0 0" rpy="0 -0.436332  0" /> 
  </xacro:sensor_d435>

// Copyright 2022 Stereolabs
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
<!--
  <xacro:arg name="camera_name"   default="zedm" />
  <xacro:arg name="camera_model"  default="zedm" />
  <xacro:arg name="base_frame"    default="Camera_Top_1" />
  <xacro:arg name="cam_pos_x"     default="0.0" />
  <xacro:arg name="cam_pos_y"     default="0.0" />
  <xacro:arg name="cam_pos_z"     default="0.0" />
  <xacro:arg name="cam_roll"      default="0.0" />
  <xacro:arg name="cam_pitch"     default="0.0" />
  <xacro:arg name="cam_yaw"       default="0.0" />
  <xacro:arg name="gnss_frame"    default="" />

  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
  <xacro:zed_camera name="zedm_top" model="$(arg camera_model)">
  </xacro:zed_camera>
  <joint name="Camera_IMU_Top_joint_f" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <child link="zedm_top_camera_link"/>
    <parent link="Camera_Top_1"/>
  </joint>
  
  <xacro:zed_camera name="zedm_bottom" model="$(arg camera_model)">
  </xacro:zed_camera>
  <joint name="Camera_Bottom_joint_f" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0.436332 0"/>
    <child link="zedm_bottom_camera_link"/>
    <parent link="Camera_Bottom_1"/>
  </joint>
-->
</robot>